[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
python-dotenv = "*"

[dev-packages]
black = "==21.5b1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
